.cart-display {
    position: absolute;
    z-index: 9;
    .cart-content {
        width: 430px;
        background: #FFFFFF;
        border: 1px solid #57A4FD;
        border-radius: 2px;
        position: relative;
        &:before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 15px 15px 15px;
            border-color: transparent transparent #a0d4e9 transparent;
            position: absolute;
            top: -15px;
            margin-left: -15px;
            right: 126px;
        } // &:before
        &:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 15px 15px 15px;
            border-color: transparent transparent white transparent;
            position: absolute;
            top: -14px;
            margin-left: -15px;
            right: 126px;
        } // &:after
    } // cart-content
} // cart
