.wrap {
    @include clearfix;
    box-sizing: border-box;
    width: 100%;
    padding: 0 5%;
    margin: auto;
    @include bp(md) {
        width: 960px;
        padding: 0;
    } // md
    @include bp(lg) {
        width: 960px;
        padding: 0;
    } // lg
} // wrap

.custom-select {
    background-color: transparent;
    position: relative;
    @include inline-middle;
    cursor: pointer;
    select {
        cursor: pointer;
        background: transparent;
        -webkit-appearance: none;
        border: none;
        outline: 0;
    } // select
} // custom-select

.view-title-box {
    margin: 20px 0;
    .view-title {
        font-family: 'PT Sans Narrow';
        font-size: rem(28);
        color: #000000;
        line-height: 1;
    } // view-title-box
} // view-title-box
