.filter-block {
    .filters {
        padding: 10px;
        background-color: #eee;
        .basic-filters {
            @include clearfix;
            border-bottom: 1px solid #b3b1b1;
            padding: 10px 10px 30px 10px;
            .filter-title {
                color: #4a4a4a;
                font-size: rem(18);
                font-family: Arial;
                line-height: 21px;
                margin: 0;
            } // filter-title
            .first-container {
                width: 30%;
                float: left;
                .main-filters {
                    @include clear-list-inline;
                    float: left;
                    color: #B1B1B1;
                    font-size: rem(18);
                    font-family: Arial;
                    li {
                        &.active {
                            color: #266AAC;
                            position: relative;
                            padding-right: 3px;
                            &:before {
                                content: "\f00c";
                                font: normal normal normal 14px/1 FontAwesome;
                                text-rendering: auto;
                                -webkit-font-smoothing: antialiased;
                                position: absolute;
                                top: 9px;
                                left: 7px;
                                color: #00a2e2;
                            } // &:before
                        } // &.active
                    } // li
                    li + li {
                        padding: 0 25px;
                    } // li + li
                } // main-filters
            } // first-container
        } // basic-filters
        .producer {
            @include clearfix;
            padding: 10px;
            .filter-title {
                color: #4a4a4a;
                font-size: rem(18);
                font-family: Arial;
                line-height: 21px;
                margin: 0;
            } // filter-title
            .main-filters {
                @include clear-list-inline;
                float: left;
                color: #B1B1B1;
                font-size: rem(18);
                font-family: Arial;
                li {
                    &.active {
                        color: #266AAC;
                        position: relative;
                        padding-right: 3px;
                        &:before {
                            content: "\f00c";
                            font: normal normal normal 14px/1 FontAwesome;
                            text-rendering: auto;
                            -webkit-font-smoothing: antialiased;
                            position: absolute;
                            top: 9px;
                            left: 7px;
                            color: #00a2e2;
                        } // &:before
                    } // &. active
                } // li
                li + li {
                    padding: 0 25px;
                } // li + li
            } // main-filters
        } // producer
    } // filters
} // filter-block
