.menu-popup {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #00A2E2;
    position: relative;
    .search-fieled {
        width: 100%;
        background-color: #00A2E2;
        border: none;
        border-bottom: 2px solid #485B73;
        font-size: rem(20);
        font-weight: bold;
        padding: 5px 0;
        margin: 10px 20px 0 0;
        float: left;
        &::-webkit-input-placeholder {
            color: #fff;
        }
        &::-moz-placeholder {
            color: #fff;
        }
        &:-moz-placeholder {
            color: #fff;
        }
        &:-ms-input-placeholder {
            color: #fff;
        }
    } // search-field
    .send {
        display: block;
        width: 30px;
        background-color: #00A2E2;
        border: none;
        float: right;
        color: #485B73;
        position: absolute;
        right: 240px;
        top: 2px;
        &:before {
            content: '\f002';
            font: normal normal normal 22px/1 FontAwesome;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
        } // &:before
    } //send
} // menu-popup
