.with-filters {
    .wrap {
        @include clearfix;
    } // wrap
    .view-title {
        @include inline-middle;
    } // view-title
    .filter-line {
        float: right;
        @include bp(xs) {
            display: none;
        } // xs
        ul.filters {
            @include inline-middle;
            @include clear-list-inline;
            li + li {
                margin-left: 20px;
            } // li + li
            li {
                &:nth-child(1) {
                    margin-right: 10px;
                } // &:nth-child(1)
                span {
                    font-size: rem(18);
                    color: #979797;
                    line-height: 1;
                    cursor: pointer;
                } // sspan
                span.filter {
                    @include inline-middle;
                    background-size: 100% !important;
                    background-repeat: no-repeat !important;
                    background-position: 50% 50% !important;
                    height: 12px;
                    opacity: 0.5;
                    &.active {
                        position: relative;
                        opacity: 1;
                        &:before {
                            content: "\f00c";
                            transform: scale(0.5, 0.5);
                            font: normal normal normal 14px/1 FontAwesome;
                            font-size: inherit;
                            text-rendering: auto;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            color: #00A2E2;
                            position: absolute;
                            top: -2px;
                            left: -18px;
                        } // &:before
                    } // &.active
                    &.show-grid {
                        width: 12px;
                        background: url(../images/grid-view.png);
                    } // show-grid
                    &.show-list {
                        width: 23px;
                        background: url(../images/list-view.png);
                    } // show-list
                } // span.filter
            } // li
        } // ul
    } // filter-line
} // with-filters

.products-list-box {
    .products-list {
        @include clear-list-inline;
        .product-box {
            float: left;
            width: 25%;
            &:nth-child(4n+1) {
                clear: both;
            } // &:nth-child(4n+1)
            .product {
                &.product-grid {} // product-grid
                &.product-list {} // product-list
            } // product
        } // product-box
    } // products-list
} // products-list-box
