.welcome {
    .logo {
        background: url(/static/images/logo.png);
        margin: 20px 20px 20px 0;
        background-repeat: no-repeat;
        width: 167px;
        height: 167px;
        float: left;
        background-size: cover;
    } // logo
} // welcome
